.about {
    width: 100vw;
    background-color: lighten($primary-color, 65%);

    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid $nav-border;

        .about-info {

            width: 100%;
                
            .about-text-container {
                
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;

                h1 {
                    text-align: left;
                    margin-bottom: 1rem;
                    font-size: 3rem;
                    font-weight: 400;
                }
                p {
                    margin-bottom: 1rem;
                    text-align: left;
                }

            }

            .view-more-btn {

                display: flex;
                justify-content: right;

                a {
                    width: 8rem;
                    min-height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    text-decoration: none;
                    background-color: $secondary-color;
                    color: $font-primary-color;
                    border-radius: .5rem;
                    background: $secondary-color;
                    box-shadow: 0px 5px 10px rgba(0 0 0 / 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2); 
                }
            }
        
        }

        .about-info.img {
            margin-bottom: 1rem;
        }
    }
}