.footer {
    width: 100vw;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
   

    .footer-container {

        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;

        ul {
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        
            li {
                margin: 0 auto;
                display: flex;
                list-style-type: none;
                animation: scale 1s infinite;

                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
    .footer-arrow {
        margin-top: 1rem;
        margin-bottom: 1rem;

    }
}


// footer a:hover.top