.header {
    a {

        img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            border: 2px solid $secondary-color;
            object-fit: cover;

        }
    }
}

.landing {
    width: 80vw;

    .landing-info {
        
        img {
            height: 40vh;
            width: 100%;
            border-radius: 10px;
            border: 2px solid $primary-color;
            object-fit: cover;
            object-position: 100% 20;
        }
    }
}

.about {
    width: 80vw;

    .about-main-img, .about-img {
        height: 30vh;
        width: 100%;
        border-radius: 10px;
        border: 2px solid $primary-color;
        object-fit: cover;
        object-position: 100% 0;

    }
}

.projects {
    width: 80vw;

    .projects-section-img {
    
        width: 100%;
        height: 20vh;
        object-fit: cover;
        border-radius: 4px;
        border: 2px solid $primary-color;
            
    }

    .projects-main-img {

        width: 100%;
        height: 20vh;
        object-fit: cover;
        border-radius: 4px;
        border: 2px solid $primary-color;

    }
    
}


.blog {
    width: 80vw;

    .blog-section-img {
        
        height: 15vh;
        width: 100%;
        object-fit: cover;


    }
}

.blog-main {

    width: 80vw;

    .blog-main-img {

            width: 100%;
            object-fit: cover;
    }
}

.blog-page {

    width: 80vw;

    .blog-page-img {

            width: 100%;
            object-fit: cover;
    }

}

.socials {

    .social-img {

        width: 100%;
        height: 100%;
        
        
        .lewis-pizza {
        
            width: 200px;
            height: 200px;
            border-radius: 100px;
            object-fit: cover;
            object-position: 100% 0;

        }

    }

    .icon {
        
        width: 64px;
        height: 64px;
        
        
        
    }

    
}


.footer {

    .footer-arrow {

        img {
            width: 64px;
            height: 64px;
        }
    }

    .footer-container {
        ul img {
            width: 32px;
            height: 32px;
        }
    }
}