.landing {
    width: 80vw;
    margin: 2rem auto 2rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid $nav-border;
    
    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .landing-info {

            padding-bottom: 1rem;
                     
            h3 {
                text-align: left;
                margin-bottom: 1rem;
                font-size: 3rem;
                font-weight: 400;
            }
            p {
                margin: 0.5rem 0;
                text-align: left;
            }

            

        }

    }
}

.landing-action-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    

    .contact-btn {

        a {
            width: 8rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            color: white;
            border-radius: .5rem;
            text-decoration: none;
            font-size: 1rem;
            

        }
    }

    .resume-btn {

        a {
            
            background-color: $primary-color;
            color: white;
            padding: .5rem 1.5rem .5rem 1.5rem;
            border-radius: 4px;
            text-decoration: none;
            font-size: 1rem;
            

        }
    }
}