@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

.header {
  width: 100vw;
  background-color: #9429cc;
}
.header .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .nav .logo {
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}
.header .nav .nav-bar {
  display: flex;
  width: 100vw;
  justify-content: center;
  list-style-type: none;
  background-color: #dbfa61;
}
.header .nav .nav-bar li {
  width: 20vw;
}
.header .nav .nav-bar li .current-page {
  color: white;
  background-color: #9429cc;
  border-top: 2px solid #dbfa61;
}
.header .nav .nav-bar li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #570d80;
  border-bottom: 2px solid #570d80;
  text-decoration: none;
  color: #570d80;
  font-weight: bold;
  height: 5vh;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-top 0.2s ease-in-out;
}
.header .nav .nav-bar li a:hover {
  color: white;
  box-shadow: inset 25vw 0 0 0 #9429cc;
  border-top: 2px solid #dbfa61;
}

.footer {
  width: 100vw;
  background-color: #9429cc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.footer .footer-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-container ul li {
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  animation: scale 1s infinite;
}
.footer .footer-container ul li:hover {
  animation-play-state: paused;
}
.footer .footer-arrow {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header a img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #dbfa61;
  -o-object-fit: cover;
     object-fit: cover;
}

.landing {
  width: 80vw;
}
.landing .landing-info img {
  height: 40vh;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #9429cc;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 20;
     object-position: 100% 20;
}

.about {
  width: 80vw;
}
.about .about-main-img, .about .about-img {
  height: 30vh;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #9429cc;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}

.projects {
  width: 80vw;
}
.projects .projects-section-img {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  border: 2px solid #9429cc;
}
.projects .projects-main-img {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  border: 2px solid #9429cc;
}

.blog {
  width: 80vw;
}
.blog .blog-section-img {
  height: 15vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-main {
  width: 80vw;
}
.blog-main .blog-main-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-page {
  width: 80vw;
}
.blog-page .blog-page-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.socials .social-img {
  width: 100%;
  height: 100%;
}
.socials .social-img .lewis-pizza {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}
.socials .icon {
  width: 64px;
  height: 64px;
}

.footer .footer-arrow img {
  width: 64px;
  height: 64px;
}
.footer .footer-container ul img {
  width: 32px;
  height: 32px;
}

.about-head {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.about-head .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about-head .container .head-text h1 {
  padding-bottom: 1rem;
}

.about {
  width: 100vw;
  background-color: #f1ddfc;
  border-bottom: 2px solid #570d80;
}
.about h2 {
  border-bottom: 2px solid #9429cc;
}
.about h3 {
  margin-bottom: 1rem;
}
.about h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}
.about .container {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.about .container .about-title {
  margin-bottom: 2rem;
}
.about .container .about-container {
  width: 100%;
}
.about .container .about-container .about-content {
  display: flex;
  flex-direction: column-reverse;
}
.about .container .about-container .about-content .about-text-container {
  display: flex;
  flex-direction: column;
}
.about .container .about-container .about-content .about-img-container.main {
  margin-bottom: 2rem;
}
.about .container .about-container .about-content .about-text {
  margin-bottom: 2rem;
}
.about .container .about-container .about-content .view-more-btn {
  margin-bottom: 2rem;
  display: flex;
  justify-content: left;
}
.about .container .about-container .about-content .resume-btn.main {
  display: flex;
  justify-content: center;
}

.skills {
  border-bottom: 2px solid #570d80;
}
.skills h2 {
  margin-bottom: 2rem;
  border-bottom: 2px solid #9429cc;
}
.skills .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.skills .container .skills-title {
  width: 100%;
  justify-content: left;
}
.skills .container .info-container {
  margin-bottom: 1rem;
}
.skills .container .skills-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
}
.skills .container .skills-container .bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills .container .skills-container .bar-wrapper .bar-container .bar-text {
  display: flex;
  justify-content: space-between;
}
.skills .container .skills-container .bar-wrapper .bar-container .html-bg {
  background-color: #f5976f;
  border: 2px solid #a23c10;
}
.skills .container .skills-container .bar-wrapper .bar-container .css-bg {
  background-color: #5e8bf2;
  border: 2px solid #0d389c;
}
.skills .container .skills-container .bar-wrapper .bar-container .javascript-bg {
  background-color: #f9e4a6;
  border: 2px solid #E4A126;
}
.skills .container .skills-container .bar-wrapper .bar-container .illustrator-bg {
  background-color: #e9a37d;
  border: 2px solid #3c240c;
}
.skills .container .skills-container .bar-wrapper .bar-container .photoshop-bg {
  background-color: #5695c7;
  border: 2px solid #072F5F;
}
.skills .container .skills-container .bar-wrapper .bar-container .after-effects-bg {
  background-color: #eeccfe;
  border: 2px solid #393665;
}
.skills .container .skills-container .bar-wrapper .bar-container .bar {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.skills .container .skills-container .bar-wrapper .bar-container .html {
  width: 20%;
  height: 1vh;
  background-color: #f06529;
  border-radius: 2rem;
  border-right: 3px solid #a23c10;
}
.skills .container .skills-container .bar-wrapper .bar-container .css {
  width: 10%;
  height: 1vh;
  background-color: #2965f1;
  border-radius: 2rem;
  border-right: 3px solid #0d389c;
}
.skills .container .skills-container .bar-wrapper .bar-container .javascript {
  width: 0%;
  height: 1vh;
  background-color: #F0BE25;
  border-radius: 2rem;
  border-right: 3px solid #E4A126;
}
.skills .container .skills-container .bar-wrapper .bar-container .illustrator {
  width: 60%;
  height: 1vh;
  background-color: #f88d29;
  border-radius: 2rem;
  border-right: 3px solid #3c240c;
}
.skills .container .skills-container .bar-wrapper .bar-container .photoshop {
  width: 40%;
  height: 1vh;
  background-color: #1261A0;
  border-radius: 2rem;
  border-right: 3px solid #072F5F;
}
.skills .container .skills-container .bar-wrapper .bar-container .after-effects {
  width: 50%;
  height: 1vh;
  background-color: #CF96FD;
  border-radius: 2rem;
  border-right: 3px solid #393665;
}
.skills .container .skills-container .bar-wrapper .info-container {
  margin-bottom: 1rem;
  background-color: red;
}

.landing {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.landing h1 {
  margin-bottom: 1rem;
}
.landing .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.landing .container .landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .container .landing-container .landing-info.img {
  margin-bottom: 1rem;
  width: 100%;
}
.landing .container .landing-container .landing-info.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.landing .container .landing-container .landing-info.text .landing-text-container {
  margin-bottom: 1rem;
  text-align: left;
}
.landing .container .landing-container .landing-info.text .landing-action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing .container .landing-container .landing-info.text .landing-action-container .contact-btn a, .landing .container .landing-container .landing-info.text .landing-action-container .resume-btn a {
  min-width: 8rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-head {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.projects-head .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.projects-head .container .head-text h1 {
  padding-bottom: 1rem;
}

.projects {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.projects h2 {
  margin-bottom: 2rem;
  border-bottom: 2px solid #9429cc;
}
.projects h3 {
  margin-bottom: 1rem;
}
.projects h4 {
  margin-bottom: 1rem;
}
.projects p {
  margin-bottom: 1rem;
}
.projects .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.projects .container .project-container .project-cards {
  display: flex;
  flex-direction: column;
}
.projects .container .project-container .project-cards a {
  text-decoration: none;
  color: black;
}
.projects .container .project-container .project-cards .project-description,
.projects .container .project-container .project-cards .project-description-main {
  text-align: left;
  padding: 1rem;
}
.projects .container .project-container .project-cards .project-card {
  margin-bottom: 2rem;
}
.projects .container .project-container .project-cards .project-card .project-card-container {
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.projects .container .project-container .project-cards .project-card-container:hover {
  box-shadow: 0px 5px 10px 5px rgba(193, 20, 241, 0.3), 0px 3px 15px 2px rgba(152, 11, 181, 0.2);
}
.projects .container .project-container .view-more-btn {
  display: flex;
  justify-content: right;
}
.projects .container .project-container .view-more-btn.main {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.blog-head {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.blog-head .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.blog-head .container .head-text h1 {
  padding-bottom: 1rem;
}

.blog {
  width: 100vw;
  background-color: #f1ddfc;
  border-bottom: 2px solid #570d80;
}
.blog h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid #9429cc;
}
.blog h3 {
  margin-bottom: 1rem;
}
.blog h4 {
  padding-top: 0.5rem;
}
.blog p {
  margin-bottom: 1rem;
}
.blog span {
  font-size: 0.7rem;
  font-weight: 100;
  font-style: italic;
}
.blog .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.blog .container .blog-container .blog-cards {
  width: 100%;
}
.blog .container .blog-container .blog-cards .blog-card {
  border: 0px solid #9429cc;
  border-radius: 5px 15px 5px 30px;
  background-color: white;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.blog .container .blog-container .blog-cards .blog-card a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
}
.blog .container .blog-container .blog-cards .blog-card a .blog-description {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
}
.blog .container .blog-container .blog-cards .blog-card a .blog-img {
  display: flex;
  height: 15vh;
  width: 100%;
  overflow: hidden;
  -o-object-fit: clip;
     object-fit: clip;
}
.blog .container .blog-container .blog-cards a:hover img {
  transform: scale(1.2);
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .container .blog-container .view-more-btn {
  display: flex;
  justify-content: right;
}

.blog-main {
  width: 100vw;
  background-color: #f1ddfc;
  border-bottom: 2px solid #570d80;
}
.blog-main h2 {
  border-bottom: 2px solid #9429cc;
}
.blog-main h3 {
  padding-bottom: 0.5rem;
}
.blog-main h4 {
  padding-top: 0.5rem;
}
.blog-main span {
  font-size: 0.7rem;
  font-weight: 100;
  font-style: italic;
}
.blog-main .container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 80vw;
}
.blog-main .container .blog-cards .blog-card {
  width: 100%;
  margin-top: 2rem;
  border-bottom: 2px solid #9429cc;
  padding-bottom: 2rem;
}
.blog-main .container .blog-cards .blog-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-main .container .blog-cards .blog-card a .blog-img {
  display: flex;
  border-radius: 15px;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  -o-object-fit: clip;
     object-fit: clip;
  margin-bottom: 1rem;
}
.blog-main .container .blog-cards .blog-card .blog-description {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.blog-main .container .blog-cards .blog-card .author-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog-main .container .blog-cards .blog-card .author-btn .author-date {
  padding-top: 0.5rem;
}
.blog-main .container .blog-cards .blog-card .author-btn .view-more-btn {
  padding-top: 1rem;
}
.blog-main .container .blog-cards a:hover .blog-img {
  border: 2px solid #dbfa61;
}
.blog-main .container .blog-cards a:hover img {
  transform: scale(1.2);
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-page {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.blog-page h3 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}
.blog-page h4 {
  padding-top: 0.5rem;
}
.blog-page span {
  font-size: 0.8rem;
  font-weight: 100;
  font-style: italic;
}
.blog-page .container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.blog-page .container .blog-container {
  width: 80vw;
}
.blog-page .container .blog-container .header-text {
  border-bottom: 2px solid #9429cc;
}
.blog-page .container .blog-container .author-date {
  margin-top: 0.2rem;
}
.blog-page .container .blog-container .blog-content {
  margin-top: 1rem;
  border-bottom: 2px solid #9429cc;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog-page .container .blog-container .blog-content .blog-img {
  display: flex;
  border-radius: 15px;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  -o-object-fit: clip;
     object-fit: clip;
  margin-bottom: 2rem;
}
.blog-page .container .blog-container .blog-content .blog-description {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.blog-page .container .blog-container .view-more-btn {
  margin-top: 1rem;
}

.contact-head {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.contact-head .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact-head .container .head-text h1 {
  padding-bottom: 1rem;
}

.contact {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.contact h2 {
  padding-bottom: 1rem;
  border-bottom: 2px solid #9429cc;
}
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact .container .contact-title {
  justify-content: left;
}
.contact .container .contact-container {
  width: 100%;
}
.contact .container .contact-container .contact-form-container {
  margin-top: 2rem;
  background: #f1ddfc;
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.contact .container .contact-container .contact-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
  margin: 0 auto;
}
.contact .container .contact-container .contact-form-input label {
  font-size: 1rem;
  font-weight: 400;
}
.contact .container .contact-container .contact-form-input input, .contact .container .contact-container .contact-form-input textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #9429cc;
  border-radius: 4px;
}

.socials {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.socials a {
  text-decoration: none;
}
.socials h2 {
  font-size: 2.5rem;
}
.socials h3 {
  font-size: 2rem;
  font-weight: 600;
}
.socials p {
  font-size: 0.7rem;
}
.socials .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.socials .container .social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.socials .container .social-wrapper .social-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #9429cc;
}
.socials .container .social-wrapper .social-img .img-name {
  padding-top: 1rem;
}
.socials .container .social-wrapper .icon.click:hover {
  transform: scale(1.2);
}
.socials .container .social-wrapper .social-wrapper-container {
  display: flex;
  flex-direction: column;
}
.socials .container .social-wrapper .social-wrapper-container .social-wrapper-left {
  width: 100%;
}
.socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email {
  margin-bottom: 2rem;
}
.socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location .location-container, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location .phone-container, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location a, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone .location-container, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone .phone-container, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone a, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email .location-container, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email .phone-container, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location .location-container .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location .location-container .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location .location-container .email-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location .phone-container .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location .phone-container .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location .phone-container .email-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location a .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location a .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .location a .email-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone .location-container .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone .location-container .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone .location-container .email-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone .phone-container .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone .phone-container .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone .phone-container .email-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone a .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone a .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .phone a .email-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email .location-container .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email .location-container .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email .location-container .email-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email .phone-container .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email .phone-container .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email .phone-container .email-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email a .location-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email a .phone-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left .email a .email-text {
  padding-left: 1rem;
  color: black;
}
.socials .container .social-wrapper .social-wrapper-container .social-wrapper-right {
  width: 100%;
}
.socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .linkedin, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .github, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .twitter {
  margin-bottom: 2rem;
}
.socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .linkedin a, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .github a, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .twitter a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}
.socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .linkedin a .linkedin-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .linkedin a .github-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .linkedin a .twitter-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .github a .linkedin-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .github a .github-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .github a .twitter-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .twitter a .linkedin-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .twitter a .github-text, .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right .twitter a .twitter-text {
  padding-left: 1rem;
  color: black;
}

.view-more-btn, .contact-btn, .resume-btn {
  color: #9429cc;
}
.view-more-btn a, .contact-btn a, .resume-btn a {
  width: 8rem;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  font-family: "Geologica", sans-serif;
  color: #9429cc;
  border: 1px solid #9429cc;
  border-radius: 0.5rem;
  background: #dbfa61;
}
.view-more-btn a:hover, .contact-btn a:hover, .resume-btn a:hover {
  background: #9429cc;
  color: white;
  transform: scale(1.1);
  border: 2px solid #dbfa61;
}
.view-more-btn a:active, .contact-btn a:active, .resume-btn a:active {
  transition: 0.1s;
  background: #caf817;
  transform: translateY(2px);
  border: 2px solid #9429cc;
  color: #570d80;
}

.resume-btn.main {
  color: #9429cc;
  height: 5rem;
}
.resume-btn.main a {
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "Geologica", sans-serif;
  color: #9429cc;
  border: 2px solid #9429cc;
  border-radius: 3rem;
  background: #dbfa61;
}
.resume-btn.main a:hover {
  background: #9429cc;
  color: white;
  transform: scale(1.1);
  border: 3px solid #dbfa61;
}
.resume-btn.main a:active {
  transition: 0.1s;
  background: #caf817;
  transform: translateY(2px);
  border: 2px solid #9429cc;
  color: #570d80;
}

.submit-btn {
  color: #9429cc;
  width: 8rem;
  min-height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Geologica", sans-serif;
  text-decoration: none;
  color: #9429cc;
  border-radius: 0.5rem;
  border: 1px solid #9429cc;
  background: #dbfa61;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
body {
  font-family: "Geologica", sans-serif;
}

@media (min-width: 1400px) {
  .container {
    max-width: 60vw;
  }
  h1 {
    font-size: 4rem;
    font-weight: 800;
  }
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .header .logo a img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
  .header .nav-bar li {
    font-size: 2rem;
  }
  .footer {
    padding-top: 1rem;
  }
  .footer .footer-container {
    max-width: 60vw;
  }
  .footer .footer-container .footer-arrow a {
    width: 100px;
    height: 100px;
  }
  .footer .footer-container ul img {
    width: 80px;
    height: 80px;
  }
  .landing .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .landing .container .landing-container {
    display: flex;
    flex-direction: row;
  }
  .landing .container .landing-container .landing-info.img {
    width: 60%;
    margin: 0;
    padding: 0;
    padding-right: 1rem;
  }
  .landing .container .landing-container .landing-info.text {
    width: 50%;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .about .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .about .container .about-container .about-title {
    margin-bottom: 3rem;
  }
  .about .container .about-container .about-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .about .container .about-container .about-img-container {
    width: 50%;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
  }
  .about .container .about-container .about-img-container.main {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .about .container .about-container .about-text-container {
    width: 50%;
    padding-right: 1rem;
  }
  .about .container .about-container .about-text-container p {
    margin-bottom: 3rem;
  }
  .about .container .about-container .about-text-container.main {
    width: 50%;
    padding-left: 1rem;
  }
  .about .container .about-container .about-text-container.main p {
    margin-bottom: 3rem;
  }
  .skills .container {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .skills .container .skills-container {
    flex-direction: row;
  }
  .skills .container .skills-container .info-container {
    width: 50%;
    margin-right: 1rem;
  }
  .skills .container .skills-container .bar-wrapper {
    width: 50%;
    margin-left: 1rem;
  }
  .projects .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
    flex-direction: row;
  }
  .projects .container .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects .container .project-container .project-title {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .projects .container .project-container .project-cards.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .projects .container .project-container .project-cards.main .project-card.main {
    width: 30%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .projects .container .project-container .project-cards.main .project-card.main .project-description-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25vh;
  }
  .projects .container .project-container .project-cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .projects .container .project-container .project-cards .project-card {
    width: 40%;
  }
  .projects .container .project-container .project-cards .project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 15vh;
  }
  .projects .container .project-container .view-more-btn {
    width: 80%;
  }
  .blog .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .blog .container .blog-container .blog-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog .container .blog-container .blog-cards .blog-card {
    width: 30%;
    height: 20vh;
  }
  .blog .container .blog-container .blog-cards .blog-card a {
    display: flex;
    flex-direction: column;
  }
  .blog .container .blog-container .blog-cards .blog-card a .blog-img {
    height: 10vh;
  }
  .blog .container .blog-container .blog-cards .blog-card a .blog-section-img {
    height: 10vh;
  }
  .blog-main .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .blog-main .container .blog-cards .blog-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .blog-main .container .blog-cards .blog-card a {
    margin-right: 1rem;
  }
  .blog-main .container .blog-cards .blog-card a .blog-img {
    margin-bottom: 0;
    height: 25vh;
    width: 25vw;
    border-radius: 2rem;
  }
  .blog-main .container .blog-cards .blog-card .blog-description {
    margin-left: 1rem;
  }
  .blog-main .container .blog-cards .blog-card .author-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
  }
  .blog-page .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
    max-width: 40vw;
  }
  .blog-page .container .blog-container .blog-content .blog-img {
    height: 20vh;
    width: 40vw;
  }
  .contact .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .contact .container .contact-title {
    width: 40%;
  }
  .contact .container .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .container .contact-container .contact-form-container {
    width: 40%;
  }
  .socials .container .social-wrapper .social-img {
    margin-bottom: 4rem;
    width: 100%;
  }
  .socials .container .social-wrapper .social-wrapper-container {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left {
    width: 40%;
    margin-left: 1rem;
  }
  .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right {
    width: 40%;
    margin-right: 1rem;
  }
  .socials .container .social-wrapper .social-wrapper-container .icon {
    width: 128px;
    height: 128px;
  }
  .socials .container .social-wrapper .social-wrapper-container h3 {
    font-size: 3rem;
  }
  .socials .container .social-wrapper .social-wrapper-container p {
    font-size: 1.5rem;
  }
  .about-head, .blog-head, .contact-head, .projects-head {
    padding-top: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 75vw;
  }
  h1 {
    font-size: 4rem;
    font-weight: 800;
  }
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .view-more-btn, .contact-btn, .resume-btn, .submit-btn {
    border-radius: 0.5rem;
    height: 4rem;
  }
  .view-more-btn a, .contact-btn a, .resume-btn a, .submit-btn a {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .header .logo a img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
  .header .nav-bar li {
    font-size: 1.5rem;
  }
  .footer {
    padding-top: 1rem;
  }
  .footer .footer-container {
    max-width: 75vw;
  }
  .footer .footer-container .footer-arrow a {
    width: 100px;
    height: 100px;
  }
  .footer .footer-container ul img {
    width: 80px;
    height: 80px;
  }
  .landing .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .landing .container .landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .landing .container .landing-container .landing-info.text {
    padding-bottom: 0;
    width: 100%;
  }
  .landing .container .landing-container .landing-info.text .landing-action-container {
    justify-content: space-between;
    margin-top: 2rem;
  }
  .landing .container .landing-container .landing-info.text .contact-btn a, .landing .container .landing-container .landing-info.text .resume-btn a {
    height: 4rem;
  }
  .about .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .about .container .about-container .about-title {
    margin-bottom: 3rem;
  }
  .about .container .about-container .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .container .about-container .about-content.main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about .container .about-container .about-img-container {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }
  .about .container .about-container .about-img-container.main {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about .container .about-container .about-text-container {
    width: 100%;
  }
  .about .container .about-container .about-text-container .view-more-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
  }
  .about .container .about-container .about-text-container.main {
    width: 100%;
  }
  .about .container .about-container .about-text-container.main .resume-btn {
    margin: 0;
    padding: 0;
  }
  .skills .container {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .skills .container .skills-container {
    flex-direction: row;
  }
  .skills .container .skills-container .info-container {
    width: 50%;
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .skills .container .skills-container .bar-wrapper {
    width: 50%;
    margin-left: 1rem;
  }
  .projects .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
    flex-direction: row;
  }
  .projects .container .project-container .project-cards.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects .container .project-container .project-cards.main .project-card.main {
    width: 48%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .projects .container .project-container .project-cards.main .project-description-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 28vh;
  }
  .projects .container .project-container .project-cards.main .project-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .projects .container .project-container .project-cards.main .project-cards .project-card {
    width: 45%;
  }
  .projects .container .project-container .project-cards.main .project-cards .project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
  }
  .blog .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .blog .container .blog-container .blog-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog .container .blog-container .blog-cards .blog-card {
    width: 30%;
    height: 20vh;
  }
  .blog .container .blog-container .blog-cards .blog-card h4 {
    font-size: 1rem;
  }
  .blog .container .blog-container .blog-cards .blog-card a {
    display: flex;
    flex-direction: column;
  }
  .blog .container .blog-container .blog-cards .blog-card a .blog-img {
    height: 10vh;
  }
  .blog .container .blog-container .blog-cards .blog-card a .blog-section-img {
    height: 10vh;
  }
  .blog-main .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .blog-main .container .blog-cards .blog-card a {
    margin-bottom: 2rem;
    width: 100%;
  }
  .blog-main .container .blog-cards .blog-card a .blog-img {
    margin-bottom: 0;
    border-radius: 1rem;
  }
  .blog-main .container .blog-cards .blog-card .blog-description {
    margin-bottom: 1rem;
  }
  .blog-main .container .blog-cards .blog-card .author-btn .view-more-btn a {
    font-size: 1.2rem;
    font-weight: 600;
    height: 4rem;
    border-radius: 0.5rem;
  }
  .blog-page .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
    max-width: 70vw;
  }
  .blog-page .container .blog-container .blog-content .blog-img {
    height: 20vh;
    width: 100%;
  }
  .contact .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .contact .container .contact-title {
    width: 100%;
  }
  .contact .container .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .container .contact-container .contact-form-container {
    width: 100%;
  }
  .socials .container .social-wrapper .social-img {
    margin-bottom: 4rem;
    width: 100%;
  }
  .socials .container .social-wrapper .social-wrapper-container {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left {
    width: 50%;
    margin-right: 0.5rem;
  }
  .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right {
    width: 50%;
    margin-left: 0.5rem;
  }
  .socials .container .social-wrapper .social-wrapper-container .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .socials .container .social-wrapper .social-wrapper-container h3 {
    font-size: 1.5rem;
  }
  .socials .container .social-wrapper .social-wrapper-container p {
    font-size: 0.7rem;
  }
  .about-head, .blog-head, .contact-head, .projects-head {
    padding-top: 5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 65vw;
  }
  h1 {
    font-size: 4rem;
    font-weight: 800;
  }
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .header .logo a img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
  .header .nav-bar li {
    font-size: 1.5rem;
  }
  .footer {
    padding-top: 1rem;
  }
  .footer .footer-container {
    max-width: 60vw;
  }
  .footer .footer-container .footer-arrow a {
    width: 100px;
    height: 100px;
  }
  .footer .footer-container ul img {
    width: 80px;
    height: 80px;
  }
  .landing .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .landing .container .landing-container {
    display: flex;
    flex-direction: row;
  }
  .landing .container .landing-container .landing-info.img {
    width: 60%;
    margin: 0;
    padding: 0;
    padding-right: 1rem;
  }
  .landing .container .landing-container .landing-info.text {
    width: 50%;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .about .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .about .container .about-container .about-title {
    margin-bottom: 3rem;
  }
  .about .container .about-container .about-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .about .container .about-container .about-img-container {
    width: 50%;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
  }
  .about .container .about-container .about-img-container.main {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .about .container .about-container .about-text-container {
    width: 50%;
    padding-right: 1rem;
  }
  .about .container .about-container .about-text-container p {
    margin-bottom: 3rem;
  }
  .about .container .about-container .about-text-container.main {
    width: 50%;
    padding-left: 1rem;
  }
  .about .container .about-container .about-text-container.main p {
    margin-bottom: 3rem;
  }
  .skills .container {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .skills .container .skills-container {
    flex-direction: row;
  }
  .skills .container .skills-container .info-container {
    width: 50%;
    margin-right: 1rem;
  }
  .skills .container .skills-container .bar-wrapper {
    width: 50%;
    margin-left: 1rem;
  }
  .projects .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
    flex-direction: row;
  }
  .projects .container .project-container .project-cards.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects .container .project-container .project-cards.main .project-card.main {
    width: 45%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .projects .container .project-container .project-cards.main .project-description-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 23vh;
  }
  .projects .container .project-container .project-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .projects .container .project-container .project-cards .project-card {
    width: 45%;
  }
  .projects .container .project-container .project-cards .project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 13vh;
  }
  .blog .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .blog .container .blog-container .blog-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog .container .blog-container .blog-cards .blog-card {
    width: 30%;
    height: 20vh;
  }
  .blog .container .blog-container .blog-cards .blog-card a {
    display: flex;
    flex-direction: column;
  }
  .blog .container .blog-container .blog-cards .blog-card a .blog-img {
    height: 10vh;
  }
  .blog .container .blog-container .blog-cards .blog-card a .blog-section-img {
    height: 10vh;
  }
  .blog-main .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .blog-main .container .blog-cards .blog-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .blog-main .container .blog-cards .blog-card a {
    margin-right: 1rem;
  }
  .blog-main .container .blog-cards .blog-card a .blog-img {
    margin-bottom: 0;
    height: 25vh;
    width: 25vw;
    border-radius: 2rem;
  }
  .blog-main .container .blog-cards .blog-card .blog-description {
    margin-left: 1rem;
  }
  .blog-main .container .blog-cards .blog-card .author-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
  }
  .blog-page .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
    max-width: 40vw;
  }
  .blog-page .container .blog-container .blog-content .blog-img {
    height: 20vh;
    width: 40vw;
  }
  .contact .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .contact .container .contact-title {
    width: 80%;
  }
  .contact .container .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .container .contact-container .contact-form-container {
    width: 80%;
  }
  .socials .container .social-wrapper .social-img {
    margin-bottom: 4rem;
    width: 100%;
  }
  .socials .container .social-wrapper .social-wrapper-container {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .socials .container .social-wrapper .social-wrapper-container .social-wrapper-left {
    width: 50%;
    margin-right: 1rem;
  }
  .socials .container .social-wrapper .social-wrapper-container .social-wrapper-right {
    width: 50%;
    margin-left: 1rem;
  }
  .socials .container .social-wrapper .social-wrapper-container .icon {
    width: 5rem;
    height: 5rem;
  }
  .socials .container .social-wrapper .social-wrapper-container h3 {
    font-size: 2.5rem;
  }
  .socials .container .social-wrapper .social-wrapper-container p {
    font-size: 0.8rem;
  }
  .about-head, .blog-head, .contact-head, .projects-head {
    padding-top: 5rem;
  }
}/*# sourceMappingURL=main.css.map */