@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

.header {
  width: 100vw;
  background-color: #9429cc;
}
.header .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .nav .logo {
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}
.header .nav .nav-bar {
  display: flex;
  width: 100vw;
  justify-content: center;
  list-style-type: none;
  background-color: #dbfa61;
}
.header .nav .nav-bar li {
  width: 20vw;
}
.header .nav .nav-bar li .current-page {
  color: white;
  background-color: #9429cc;
  border-top: 2px solid #dbfa61;
}
.header .nav .nav-bar li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #570d80;
  border-bottom: 2px solid #570d80;
  text-decoration: none;
  color: #570d80;
  font-weight: bold;
  height: 5vh;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-top 0.2s ease-in-out;
}
.header .nav .nav-bar li a:hover {
  color: white;
  box-shadow: inset 25vw 0 0 0 #9429cc;
  border-top: 2px solid #dbfa61;
}

.footer {
  width: 100vw;
  background-color: #9429cc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.footer .footer-container ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-container ul li {
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  animation: scale 1s infinite;
}
.footer .footer-container ul li:hover {
  animation-play-state: paused;
}
.footer .footer-arrow {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header a img {
  width: 75px;
  height: 75px;
}

.landing {
  width: 80vw;
}
.landing .landing-info img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #3e1647;
}

.about {
  width: 80vw;
}
.about .about-info img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #3e1647;
}

.projects {
  width: 80vw;
}
.projects .project-card img {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  border: 1px solid #3e1647;
}

.blog {
  width: 80vw;
}
.blog .blog-card img {
  height: 15vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.socials img {
  width: 32px;
  height: 32px;
}

.footer img {
  width: 64px;
  height: 64px;
}
.footer ul img {
  width: 32px;
  height: 32px;
}

.about {
  width: 100vw;
  background-color: #f1ddfc;
  border-bottom: 2px solid #570d80;
}
.about .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about .container .about-info.img {
  margin-bottom: 1rem;
}
.about .container .about-info {
  width: 100%;
}
.about .container .about-info .about-text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 1rem;
}
.about .container .about-info .view-more-btn {
  display: flex;
  justify-content: right;
}

.skills {
  border-bottom: 2px solid #570d80;
}
.skills .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.skills .container .skills-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
}
.skills .container .skills-container .bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills .container .skills-container .bar-wrapper .bar-container .bar-text {
  display: flex;
  justify-content: space-between;
}
.skills .container .skills-container .bar-wrapper .bar-container .bar-text h3 {
  padding-bottom: 0.5rem;
}
.skills .container .skills-container .bar-wrapper .bar-container .html-bg {
  background-color: #f5976f;
  border: 2px solid #a23c10;
}
.skills .container .skills-container .bar-wrapper .bar-container .css-bg {
  background-color: #5e8bf2;
  border: 2px solid #0d389c;
}
.skills .container .skills-container .bar-wrapper .bar-container .javascript-bg {
  background-color: #f9e4a6;
  border: 2px solid #E4A126;
}
.skills .container .skills-container .bar-wrapper .bar-container .illustrator-bg {
  background-color: #e9a37d;
  border: 2px solid #3c240c;
}
.skills .container .skills-container .bar-wrapper .bar-container .photoshop-bg {
  background-color: #5695c7;
  border: 2px solid #072F5F;
}
.skills .container .skills-container .bar-wrapper .bar-container .after-effects-bg {
  background-color: #eeccfe;
  border: 2px solid #393665;
}
.skills .container .skills-container .bar-wrapper .bar-container .bar {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.skills .container .skills-container .bar-wrapper .bar-container .html {
  width: 20%;
  height: 1vh;
  background-color: #f06529;
  border-radius: 2rem;
  border-right: 3px solid #a23c10;
}
.skills .container .skills-container .bar-wrapper .bar-container .css {
  width: 10%;
  height: 1vh;
  background-color: #2965f1;
  border-radius: 2rem;
  border-right: 3px solid #0d389c;
}
.skills .container .skills-container .bar-wrapper .bar-container .javascript {
  width: 0%;
  height: 1vh;
  background-color: #F0BE25;
  border-radius: 2rem;
  border-right: 3px solid #E4A126;
}
.skills .container .skills-container .bar-wrapper .bar-container .illustrator {
  width: 60%;
  height: 1vh;
  background-color: #f88d29;
  border-radius: 2rem;
  border-right: 3px solid #3c240c;
}
.skills .container .skills-container .bar-wrapper .bar-container .photoshop {
  width: 40%;
  height: 1vh;
  background-color: #1261A0;
  border-radius: 2rem;
  border-right: 3px solid #072F5F;
}
.skills .container .skills-container .bar-wrapper .bar-container .after-effects {
  width: 50%;
  height: 1vh;
  background-color: #CF96FD;
  border-radius: 2rem;
  border-right: 3px solid #393665;
}
.skills .container .skills-container .bar-wrapper .info-container {
  margin-bottom: 1rem;
  background-color: red;
}

.landing {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.landing .container .landing-info.img {
  margin-bottom: 1rem;
}

.landing-text-container {
  margin-bottom: 1rem;
  text-align: left;
}

.landing-action-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing-action-container .contact-btn a, .landing-action-container .resume-btn a {
  min-width: 8rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.projects .container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.projects .container .project-cards {
  width: 100%;
}
.projects .container .project-cards a {
  text-decoration: none;
  color: inherit;
}
.projects .container .project-cards .project-description {
  text-align: left;
  padding: 1rem;
}
.projects .container .project-cards .project-description h2 {
  margin-bottom: 0.5rem;
}
.projects .container .project-cards .project-card {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.projects .container .project-cards a .project-card:hover {
  box-shadow: 0px 5px 10px 5px rgba(193, 20, 241, 0.3), 0px 3px 15px 2px rgba(152, 11, 181, 0.2);
}
.projects .container .view-more-btn {
  display: flex;
  justify-content: right;
}

.blog {
  width: 100vw;
  background-color: #f1ddfc;
  border-bottom: 2px solid #570d80;
}
.blog .container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.blog .container .blog-cards {
  width: 100%;
}
.blog .container .blog-card {
  border: 0px solid #9429cc;
  border-radius: 5px 15px 5px 30px;
  background-color: white;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.blog .container .blog-card a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
}
.blog .container .blog-card a .blog-description {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
}
.blog .container .blog-card a .blog-description h3 {
  padding-top: 0.8rem;
}
.blog .container .blog-card a .blog-description span {
  font-size: 0.7rem;
  font-weight: 100;
  font-style: italic;
}
.blog .container .blog-card a .blog-img {
  display: flex;
  height: 15vh;
  width: 100%;
  overflow: hidden;
  -o-object-fit: clip;
     object-fit: clip;
}
.blog .container a:hover img {
  transform: scale(1.2);
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .container .view-more-btn {
  display: flex;
  justify-content: right;
}

.contact {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact .container .contact-wrapper {
  width: 100%;
}
.contact .container .contact-wrapper .contact-form {
  background: #f1ddfc;
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.contact .container .contact-wrapper .contact-form .contact-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
  margin: 0 auto;
}
.contact .container .contact-wrapper .contact-form .contact-form-input label {
  font-size: 1rem;
  font-weight: 400;
}
.contact .container .contact-wrapper .contact-form .contact-form-input input, .contact .container .contact-wrapper .contact-form .contact-form-input textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #9429cc;
  border-radius: 4px;
}

.contact-head {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.contact-head .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact-head .container .head-text h1 {
  font-size: 4rem;
}

.socials {
  width: 100vw;
  border-bottom: 2px solid #570d80;
}
.socials .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.socials .container .social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.socials .container .social-wrapper a {
  text-decoration: none;
}
.socials .container .social-wrapper h2 {
  font-size: 2rem;
}
.socials .container .social-wrapper p {
  font-size: 0.7rem;
}
.socials .container .social-wrapper img {
  width: 64px;
  height: 64px;
}
.socials .container .social-wrapper .social-wrapper-left {
  width: 100%;
}
.socials .container .social-wrapper .social-wrapper-left .location, .socials .container .social-wrapper .social-wrapper-left .phone, .socials .container .social-wrapper .social-wrapper-left .email {
  margin-bottom: 2rem;
}
.socials .container .social-wrapper .social-wrapper-left .location .location-container, .socials .container .social-wrapper .social-wrapper-left .location .phone-container, .socials .container .social-wrapper .social-wrapper-left .location a, .socials .container .social-wrapper .social-wrapper-left .phone .location-container, .socials .container .social-wrapper .social-wrapper-left .phone .phone-container, .socials .container .social-wrapper .social-wrapper-left .phone a, .socials .container .social-wrapper .social-wrapper-left .email .location-container, .socials .container .social-wrapper .social-wrapper-left .email .phone-container, .socials .container .social-wrapper .social-wrapper-left .email a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socials .container .social-wrapper .social-wrapper-left .location .location-container .location-text, .socials .container .social-wrapper .social-wrapper-left .location .location-container .phone-text, .socials .container .social-wrapper .social-wrapper-left .location .location-container .email-text, .socials .container .social-wrapper .social-wrapper-left .location .phone-container .location-text, .socials .container .social-wrapper .social-wrapper-left .location .phone-container .phone-text, .socials .container .social-wrapper .social-wrapper-left .location .phone-container .email-text, .socials .container .social-wrapper .social-wrapper-left .location a .location-text, .socials .container .social-wrapper .social-wrapper-left .location a .phone-text, .socials .container .social-wrapper .social-wrapper-left .location a .email-text, .socials .container .social-wrapper .social-wrapper-left .phone .location-container .location-text, .socials .container .social-wrapper .social-wrapper-left .phone .location-container .phone-text, .socials .container .social-wrapper .social-wrapper-left .phone .location-container .email-text, .socials .container .social-wrapper .social-wrapper-left .phone .phone-container .location-text, .socials .container .social-wrapper .social-wrapper-left .phone .phone-container .phone-text, .socials .container .social-wrapper .social-wrapper-left .phone .phone-container .email-text, .socials .container .social-wrapper .social-wrapper-left .phone a .location-text, .socials .container .social-wrapper .social-wrapper-left .phone a .phone-text, .socials .container .social-wrapper .social-wrapper-left .phone a .email-text, .socials .container .social-wrapper .social-wrapper-left .email .location-container .location-text, .socials .container .social-wrapper .social-wrapper-left .email .location-container .phone-text, .socials .container .social-wrapper .social-wrapper-left .email .location-container .email-text, .socials .container .social-wrapper .social-wrapper-left .email .phone-container .location-text, .socials .container .social-wrapper .social-wrapper-left .email .phone-container .phone-text, .socials .container .social-wrapper .social-wrapper-left .email .phone-container .email-text, .socials .container .social-wrapper .social-wrapper-left .email a .location-text, .socials .container .social-wrapper .social-wrapper-left .email a .phone-text, .socials .container .social-wrapper .social-wrapper-left .email a .email-text {
  padding-left: 1rem;
  color: black;
}
.socials .container .social-wrapper .social-wrapper-right {
  width: 100%;
}
.socials .container .social-wrapper .social-wrapper-right .linkedin, .socials .container .social-wrapper .social-wrapper-right .github, .socials .container .social-wrapper .social-wrapper-right .twitter {
  margin-bottom: 2rem;
}
.socials .container .social-wrapper .social-wrapper-right .linkedin a, .socials .container .social-wrapper .social-wrapper-right .github a, .socials .container .social-wrapper .social-wrapper-right .twitter a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socials .container .social-wrapper .social-wrapper-right .linkedin a .linkedin-text, .socials .container .social-wrapper .social-wrapper-right .linkedin a .github-text, .socials .container .social-wrapper .social-wrapper-right .linkedin a .twitter-text, .socials .container .social-wrapper .social-wrapper-right .github a .linkedin-text, .socials .container .social-wrapper .social-wrapper-right .github a .github-text, .socials .container .social-wrapper .social-wrapper-right .github a .twitter-text, .socials .container .social-wrapper .social-wrapper-right .twitter a .linkedin-text, .socials .container .social-wrapper .social-wrapper-right .twitter a .github-text, .socials .container .social-wrapper .social-wrapper-right .twitter a .twitter-text {
  padding-left: 1rem;
  color: black;
}

.view-more-btn, .contact-btn, .resume-btn {
  color: #9429cc;
}
.view-more-btn a, .contact-btn a, .resume-btn a {
  width: 8rem;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  font-family: "Geologica", sans-serif;
  color: #9429cc;
  border-radius: 0.5rem;
  background: #dbfa61;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.view-more-btn a:hover, .contact-btn a:hover, .resume-btn a:hover {
  background: #caf817;
  color: #570d80;
  box-shadow: 0px 5px 5px rgba(193, 20, 241, 0.3), 0px 3px 10px rgba(152, 11, 181, 0.2);
  transform: scale(1.1);
}
.view-more-btn a:active, .contact-btn a:active, .resume-btn a:active {
  background: #9429cc;
  color: white;
  transform: translateY(2px);
  transition: 0.1s;
}

button {
  color: #9429cc;
  width: 8rem;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Geologica", sans-serif;
  text-decoration: none;
  color: #9429cc;
  border-radius: 0.5rem;
  border: 1px solid #9429cc;
  background: #dbfa61;
}
button button:hover {
  background: #abd507;
  color: #570d80;
  box-shadow: 0px 5px 5px rgba(193, 20, 241, 0.3), 0px 3px 10px rgba(152, 11, 181, 0.2);
  transform: scale(1.1);
}
button button:active {
  background: #9429cc;
  color: white;
  transform: translateY(2px);
  transition: 0.1s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
body {
  font-family: "Geologica", sans-serif;
}/*# sourceMappingURL=main.css.map */