// About header

.about-head {

    width: 100vw;
    border-bottom: 2px solid $border;

    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .head-text {
            
            h1 {
                padding-bottom: 1rem;
            }
        }
 
    }
}

// About Component for Landing Page and About page

.about {

    width: 100vw;
    background-color: lighten($border, 65%);
    border-bottom: 2px solid $border;

    h2 {
        border-bottom: 2px solid $primary-color;
    }

    h3 {
        margin-bottom: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
        font-weight: 500;
    }


    .container {
        
        
        padding-top: 2rem;
        padding-bottom: 3rem;


        .about-title {
             
            margin-bottom: 2rem;
            
        }

        .about-container {

            width: 100%;

                .about-content {

                    display: flex;
                    flex-direction: column-reverse;
                    
                
                .about-text-container {
                    
                    display: flex;
                    flex-direction: column;

                    
                }

                .about-img-container.main {
                    margin-bottom: 2rem;
                }

                .about-text {
                    margin-bottom: 2rem;

                }

                .view-more-btn {
                    margin-bottom: 2rem;
                    display: flex;
                    justify-content: left;

                }

                .resume-btn.main {
                    
                    display: flex;
                    justify-content: center;

                }
            }
        }
    }
}

// skills Component

.skills {

    border-bottom: 2px solid $border;

    h2 {
        margin-bottom: 2rem;
        border-bottom: 2px solid $primary-color;
    }
    
    

    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 3rem;

        .skills-title {

            width: 100%;
            justify-content: left;

        }

        .info-container {

            margin-bottom: 1rem;
        }
        
        .skills-container {

            display: flex;
            flex-direction: column;
            justify-content: top;
            
            .bar-wrapper {
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .bar-container {
                    
                    .bar-text {

                        display: flex;
                        justify-content: space-between;

                    }
                    
                    .html-bg {

                        background-color: #f5976f;
                        border: 2px solid #a23c10;
                    }

                    .css-bg {

                        background-color: #5e8bf2;
                        border: 2px solid #0d389c;
                    }

                    .javascript-bg {

                        background-color: #f9e4a6;
                        border: 2px solid #E4A126;
                    }

                    .illustrator-bg {

                        background-color: #e9a37d;
                        border: 2px solid #3c240c;
                    }

                    .photoshop-bg {

                        background-color: #5695c7;
                        border: 2px solid #072F5F;
                    }

                    .after-effects-bg {

                        background-color: #eeccfe;
                        border: 2px solid #393665;
                    }

                    .bar {
                        
                        width: 100%;
                        border-radius: 2rem;
                        margin-bottom: .5rem;
                        overflow: hidden;
                    }

                    .html {

                        width: 20%;
                        height: 1vh;
                        background-color: #f06529;
                        border-radius: 2rem;
                        border-right: 3px solid #a23c10;

                    }

                    .css {
                        width: 10%;
                        height: 1vh;
                        background-color: #2965f1;
                        border-radius: 2rem;
                        border-right: 3px solid #0d389c;

                    }

                    .javascript {
                        
                        width: 0%;
                        height: 1vh;
                        background-color: #F0BE25;
                        border-radius: 2rem;
                        border-right: 3px solid #E4A126;

                    }

                    .illustrator {
                        
                        width: 60%;
                        height: 1vh;
                        background-color: #f88d29;
                        border-radius: 2rem;
                        border-right: 3px solid #3c240c;

                    }

                    .photoshop {
                        
                        width: 40%;
                        height: 1vh;
                        background-color: #1261A0;
                        border-radius: 2rem;
                        border-right: 3px solid #072F5F;

                    }

                    .after-effects {
                        
                        width: 50%;
                        height: 1vh;
                        background-color: #CF96FD;
                        border-radius: 2rem;
                        border-right: 3px solid #393665;

                    }
                }
        
                .info-container {
                    margin-bottom: 1rem;
                    background-color: red;


                }
            }
        }
    }
}
