.projects-head {

    width: 100vw;
    border-bottom: 2px solid $nav-border;

    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .head-text {
            
            h1 {
                padding-bottom: 1rem;
            }
        }
 
    }
}

.projects {
    width: 100vw;
    border-bottom: 2px solid $nav-border;

    h2 {
        margin-bottom: 1rem;
        border-bottom: 2px solid $third-color;
    }

    h3 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
    }

    .container {
        
        display: flex;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
        .project-container {
            
            width: 100%;
            
            
            .project-cards {

                a {
                    text-decoration: none;
                    color: inherit;
                }

                .project-description {

                    text-align: left;
                    padding: 1rem;

                }
                
                .project-card {

                    .project-card-container {
                        margin-bottom: 2rem;
                        padding: 1rem;
                        border-radius: 4px;
                        box-shadow: 0px 5px 10px rgba(0 0 0 / 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
    
                    }
                }

                .project-card-container:hover {
                    box-shadow: 0px 5px 10px 5px rgba(193, 20, 241, 0.3), 0px 3px 15px 2px rgba(152, 11, 181, 0.2);
                }
            }
        
        
            .view-more-btn {
                display: flex;
                justify-content: right;

            }
        }
    }
}

.projects-main {
    
    width: 100vw;
    border-bottom: 2px solid $nav-border;

    h3 {
        margin-bottom: .2rem;
    }

    .container {
        
        display: flex;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
        .project-cards {
            
            width: 100%;

            .view-more-btn {
                display: flex;
                justify-content: center;
    
            }

            .project-description {

                text-align: left;
                padding: 1rem;

            }
            
            .project-card {

                margin-bottom: 2rem;
                padding: 1rem;
                border-radius: 4px;
                box-shadow: 0px 5px 10px rgba(0 0 0 / 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
            }

            //.project-card:hover {
            //    box-shadow: 0px 5px 10px 5px rgba(193, 20, 241, 0.3), 0px 3px 15px 2px rgba(152, 11, 181, 0.2);
            //}
        }
        

    }
}


