.projects-head {

    width: 100vw;
    border-bottom: 2px solid $border;

    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .head-text {
            
            h1 {
                padding-bottom: 1rem;
            }
        }
 
    }
}

.projects {
    width: 100vw;
    border-bottom: 2px solid $border;

    h2 {
        margin-bottom: 2rem;
        border-bottom: 2px solid $primary-color;
    }

    h3 {
        margin-bottom: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
    }


    .container {
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        
        .project-container {

            .project-cards {

                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: black;
                }

                .project-description,
                .project-description-main {

                    text-align: left;
                    padding: 1rem;

                }

                
                .project-card {

                    margin-bottom: 2rem;
                    

                    .project-card-container {
                        border-radius: 4px;
                        box-shadow: 0px 5px 10px rgba(0 0 0 / 0.3), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
                    }
                }

                .project-card-container:hover {
                    box-shadow: 0px 5px 10px 5px rgba(193, 20, 241, 0.3), 0px 3px 15px 2px rgba(152, 11, 181, 0.2);
                }
            }
        
        
            .view-more-btn {
                
                display: flex;
                justify-content: right;
                

            }

            .view-more-btn.main {
                display: flex;
                justify-content: center;
                padding-bottom: 1.5rem;
    
            }
        }
    }
}


